body {
    font-family: Verdana, sans-serif;
    background-color: #e9ecf1;
    margin: 0;
}
header {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}
.section {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px;
    flex-wrap: wrap;
}
.firstPart {
    background: rgb(75, 222, 222);
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
input[type="number"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}
label {
    display: block;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 8px;
    background: #3e68e4;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #1e7e34;
}
table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #bbb;
    padding: 8px;
    text-align: center;
}
th {
    background: #28a745;
    color: white;
}
.items {
    text-align: center;
}
#result {
    margin-top: 10px;
    font-weight: bold;
}